/* HEADER SECTION */

header {
  width: 100%;
  height: fit-content;
  background-color: #050012;
  /* background-image: url(../img/yrgopelago-header.jpg);
  background-position: center;
  background-size: cover; */
  padding: 20px 80px;
  position: fixed;
  z-index: 2;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav p:first-child {
  font-size: 24px;
}

header nav,
header nav a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

header nav ul {
  list-style: none;
  display: flex;
  flex: row;
  gap: 40px;
}

header nav ul a {
  color: white;
  letter-spacing: 1px;
}

header nav ul a:hover {
  color: orangered;
  text-decoration: underline;
}
.bg {
  position: fixed;
  z-index: -1;
}

@media only screen and (min-width: 750px) {
  header {
    background-position: center top -50px;
  }
}
@media only screen and (min-width: 1100px) {
  header {
    background-position: center top -140px;
  }
}
