main {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.calendar-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-container {
  width: 30%;
}

table.calendar {
  width: 100%;
}

table.calendar.eco {
  background-color: hotpink;
}
table.calendar.std {
  background-color: orangered;
}
table.calendar.lux {
  background-color: #8c8c8c;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  gap: 1rem;
}
