main {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.calendar-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-container {
  width: 30%;
}

table.calendar {
  width: 100%;
}

table.calendar.eco,
table.calendar.std,
table.calendar.lux {
  background-color: #979393;
}

div.cal-day-box {
  text-align: center;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  gap: 1rem;
}

/* .calendar tbody tr td.mask-start,
.calendar tbody tr td.mask,
.calendar tbody tr td.mask-end {
  background: #92746f;
} */

.mask-start,
.mask {
  color: rgb(39, 39, 39);
  background-color: #ed4141;
}

.cal-event-box {
  color: black;
  background-color: red;
  display: none;
}
